.separator-top {
	border-top: @dotted-border;
}
.separator-bottom {
	border-bottom: @dotted-border;
}

.orange {
	color: @orange;
	
	&.dark {
		color: @orange-dark;
	}
}

@media (min-width: @screen-sm) {
	.content-main {
		h1 {
			margin-top: 50px;
		}
	}
}