.separator-top {
	border-top: @dotted-border;
}
.separator-bottom {
	border-bottom: @dotted-border;
}

.orange {
	color: @orange;
	
	&.dark {
		color: @orange-dark;
	}
}

@media (min-width: @screen-sm) {
	.content-main {
		h1 {
			margin-top: 50px;
		}
	}
	.social-widget {
		margin-top: 50px;
	}
}
.social-widget {
	background-color: #f8f8f8;
	
	@media (min-width: @screen-sm) {
		box-shadow: 0px 0px 9px 0px rgba(35, 31, 32, 0.26);
	}
}