@grid-float-breakpoint: 992px;
@font-family-base: "Open Sans", sans-serif;
@icon-font-path: "../vendor/twitter/bootstrap/fonts/";
@carousel-caption-color: #FFF;
@nav-link-hover-bg: transparent;
@dropdown-link-active-bg: transparent;