.interna-content {
	margin: 70px 0;
}

.interna-content-list {
	margin-bottom: 70px;
	
	.item {
		> div {
			padding-bottom: 50px;
		}
		
		.item-content {
			h4 {
				margin: 0 0 25px;
			}
			a.download {
				color: #8e4611;
				display: block;
				margin-top: 25px;

				i.fa {
					color: #333333;
				}
			}
			i.fa {
				min-width: 25px;
			}
		}

		+ .item {
			padding-top: 60px;
		}
	}
}