.admin-bar header {
	top: 46px;

	@media (min-width: 783px) {
		top: 32px;
	}
}
header {
    background-color: rgba(33, 63, 29, 0.8);
	font-family: 'Oswald', sans-serif;
	padding-top: 15px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	.logo-iesp {
		float: right;

		img {
			max-width: 115px;

			@media (min-width: @screen-sm) {
				max-width: 170px;
			}
		}
	}

	.logo-ceres {
		clear: both;
		display: block;
		margin: 0 auto 15px;
		width: 290px;

		@media (min-width: @screen-sm) {
			clear: none;
			width: auto;
		}
	}

	.navbar-container {
		background-color: rgba(0, 0, 0, 0.6);


		@media (min-width: @screen-md) {
			background-color: transparent;
		}

		.navbar {
			border-width: 0;
			margin: 0;

			.navbar-header {
				@media (min-width: @screen-md) {
					float: right;
				}

				.navbar-toggle {
					border-width: 0;
					float: left;
					padding-left: 0;
					padding-right: 15px;
					margin-right: 0;

					.icon-bar { 
						background-color: #FFF;
					}
					&-text {
						color: #ffffff;
						font-size: 16px; /* Aproximação devido à substituição de fonte */
						font-weight: 300;
						line-height: 48px; /* Aproximação devido à substituição de fonte */
						margin: 0;
						padding: 0;
						text-align: left;
						text-transform: uppercase;
					}
				}

				.searchform {
					float: right;

					.screen-reader-text {
						display: none;
					}
					
					input {
						&:focus,
						&:active {
							outline-width: 0;
						}
					}
					.searchsubmit {
						background: transparent url(../images/general/search.png) no-repeat 50% 50%;
						border: 0;
						float: right;
						padding: 0;
						width: 25px;
						height: 48px;
					}
					#s {
						background-color: transparent;
						border-width: 0;
						border-right: 1px solid #FFF;
						color: #FFF;
						float: right;
						font-size: 16px;
						font-weight: 300;
						height: 18px;
						line-height: 17px;
						margin-top: 14px;
						margin-right: 10px;
						width: 55px;

						.placeholder() {
							color: #FFF;
							text-transform: uppercase;
						}

						&::-webkit-input-placeholder {
							.placeholder;
						}
						&:-moz-placeholder {
							.placeholder;
						}
						&::-moz-placeholder {
							.placeholder;
						}
						&:-ms-input-placeholder {  
							.placeholder;
						}
					}
					
					
				}	
			}

			.navbar-collapse {
				

				.navbar-nav li a {
					color: #ffffff;
					font-size: 16px;  //Aproximação devido à substituição de fonte 
					font-weight: 300;
					text-align: left;
					text-transform: uppercase;
				}

				.caret {
					display: none;
				}
				
				.dropdown-menu {
					li {
						a {
							&:hover,
							&:focus {
								background-color: transparent;
								color: #4D654A;
							}							
						}
					}
				}
				
				@media (max-width: @grid-float-breakpoint-max) {
					.navbar-nav li {
						a {
							padding: 16px 0;
						}
						&.dropdown a {
							padding-bottom: 10px;
						}
					}
					
					.dropdown-menu {
						padding-top: 0;
						
						display: block;
						
						position: static;
						float: none;
						width: auto;
						margin-top: 0;
						background-color: transparent;
						border: 0;
						box-shadow: none;
						
						li a {
							padding: 12px 0 12px 25px;
						}
					}
				}
				
				@media (min-width: @screen-md) {
					padding: 0;
					
					.dropdown-menu {
						background-color:  rgba(0, 0, 0, 0.8);
						border-top-width: 0;
						padding: 0;
						
						li {
							a {
								line-height: 48px;
							}
							
							+ li {
								border-top: 2px solid #898989;
							}
						}
					}
					
				}
			}
		}
	}

	+ section {
		margin-top: 215px;

		@media (min-width: @screen-sm) {
			margin-top: 81px;
		}
	}
}
